<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="/src/css/styleModais/criarHabito.css">
    <title>Document</title>
</head>
<body>
    <div class="corpo_principal">
            <div class="cabecalho">
            <h3 class="cabecalho_titulo">Criar Habito</h3>
           <button class="btn_fechar">X</button>
            </div>
            <div class="corpo_conteudo">
                <p class="conteudo_cabecalho">Titulo</p>
                <input class="input_titulo" type="text" name="" placeholder="Digitar titulo">
            
                <p class="conteudo_descricao">Descrição</p>
                <input class="input_descricao" type="text" name="" placeholder="Digitar descrição">

                <p class="conteudo_categoria">Categoria</p>
               <select class="selecao" name="selecionar">
                
                <option value="saude">Saude</option>
                <option value="trabalho">Trabalho</option>
                <option value="lazer">Lazer</option>
                <option value="estudos">Estudos</option>
               </select>
            </div>
        <button class="btn_inserir">Inserir</button>
    </div>
    
</body>
</html> 