<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <title>Document</title>
</head>
<body>
    <div>
            <div>
            <h3>Criar Habito</h3>
           <button>X</button>
            </div>
            <div>
                <p>Titulo</p>
                <input type="text" name="" placeholder="Digitar titulo">
            
                <p>Descrição</p>
                <input type="text" name="" placeholder="Digitar descrição">

                <p>Categoria</p>
               <select name="selecionar">
                
                <option value="saude">Saude</option>
                <option value="trabalho">Trabalho</option>
                <option value="lazer">Lazer</option>
                <option value="estudos">Estudos</option>
               </select>
            </div>
        <button>Inserir</button>
    </div>
    
</body>
</html> 