<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h2>Editar Habito</h2>
           <button>X</button>
        </div>

         <div>
              <p>Titulo</p>
              <input type="text" name=""> 

              <p>DesCrição</p>
              <input type="text">

                <p>Categoria</p>
                <input type="text">

                <select name="selecionar">
                
                    <option value="saude">Saude</option>
                    <option value="trabalho">Trabalho</option>
                    <option value="lazer">Lazer</option>
                    <option value="estudos">Estudos</option>
                   </select>

                <button>Excluir</button>
                <button>Salvar alteraçoes</button>
        </div>

    </div>
</body>
</html>