<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="corpo_principal">
        <div class="corpo_btn">
            <h3 class="titulo">Editar Perfil</h3>
            <button class="btn_fechar">X</button>
        </div>
        <div class="corpo_principal">
            <p>Nome</p>
            <input class="principal_nome" type="text">

            <p class="principal_mensagem">URL da imagem do perfil</p>
            <input class="principal_imagem" type="text" placeholder="url da imagem">

            <button class="btn_salvar">Salvar alteraçoes</button>
        </div>
    </div>
</body>
</html>