<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/editarHabito.css">
    <title>Document</title>
</head>
<body>
    <div class="corpo_principal">
        <div class="cabecalho">
            <h2>Editar Habito</h2>
           <button>X</button>
        </div>

         <div class="titulo">
              <p class="titulo_texto">Titulo</p>
              <input class="input_titulo" type="text" name=""> 

              <p class="titulo_descricao">Descrição</p>
              <input class="input_descricao" type="text">

                <p class="titulo_categoria">Categoria</p>
                <input class="input_categoria" type="text">

                <select class="selecao" name="selecionar">
                
                    <option value="saude">Saude</option>
                    <option value="trabalho">Trabalho</option>
                    <option value="lazer">Lazer</option>
                    <option value="estudos">Estudos</option>
                </select>
                <div class="corpo_btn">
                <button class="btn_excluir">Excluir</button>
                <button class="btn_alterar">Salvar alteraçoes</button>
                </div>
        </div>

    </div>
</body>
</html>