<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h3>Excluir Habito</h3>
            <button>X</button>
        </div>
        <div>
            <h3>Certeza que deseja excluir esse habito?</h3>
            <p>Após executar essa ação não será possível desfazer</p>
        </div>
        <div>
            <button>Cancelar</button>
            <button>Sim,excluir este habito</button>
        </div>
    </div>
</body>
</html>