<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/excluirHabito.css">
    <title>Document</title>
</head>
<body>
    <div class="corpo_principal">
        <div class="corpo_btn">
            <h3 class="titulo">Excluir Habito</h3>
            <button class="btn_fechar">X</button>
        </div>
        <div class="corpo_mensagem">
            <h3 class="mensagem_titulo">Certeza que deseja excluir esse habito?</h3>
            <p class="mensagem_aviso">Após executar essa ação não será possível desfazer</p>
        </div>
        <div class="corpo_cancelar">
            <button class="btn_cancelar">Cancelar</button>
            <button class="btn_sim">Sim,excluir este habito</button>
        </div>
    </div>
</body>
</html>