<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/login.css">
</head>
<title>Logar | Kenzie Habit</title>
<body>
    <section class="login_area">
      <div class="login_lateral">
        <h1>KenzieHabit - Team 3</h1>
        <p>Alexandre Borges</p>
        <p>Emerson Gomes</p>
        <p>Kenio Paulo</p>
        <p>Lucas Barcelos</p>
        <p>Victor Cruz</p>
      </div>
        <div class="login">
          <div class="login_logo">
            <img src="../assets/img/logo team transparente.png" alt="">
          </div>
          <form id="login_form">
            <input type="text" name="email" placeholder="E-mail" autofocus>
            <input type="password" name="password" placeholder="Senha">
            <input type="submit" value="entrar" class="button_form">
          </form>
        </div>
      </section>

    <script src="../scripts/login.scripts.js" type="module"></script>

</body>
</html>