body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-inter);
}

header{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.header_kenzieHabit{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center; 
    font-family: var(--font-inter);
    font-weight: bold;
}

.header_usuario{
    display: flex;
    align-items: flex-start;
    background-color: blue;
    height: 23vh;
    color: white;
    gap: 1vw;
}

.img_kenzieHabit{
    width: 37px;
    height: 37px;
    border-radius: 100px;
    border: 2px solid #415AF3;
    margin-top: 4px;
}

.img_user{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 2px solid #FFFFFF;
    margin-top: 10px;
}

.title_kenzie{
    margin-left: 8vw;
    font-size: 22px;
}

.figure_user{
    margin-left: 8vw;
}

.figure_userKenzie{
    margin-right: 10vw;
}
.user_name{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 10px;
}


/* Tarefas */

.nav_Tarefas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 82vw;
    justify-content: space-between;
    margin-left: 3vw;
    margin-right: 1vw;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}

.title_tarefa{
    font-weight: 600;
    font-size: 20px;
    align-self: flex-start;
}

.botoes_tarefas { 
    margin-left: 30px;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-self: center;
}

.bttn_Todos, .bttn_Concluidos{
    border: none;
    background-color: #FFFFFF;
    font-size: 13px;
    width: 100px;
    height: 24px;
    font-weight: bold;

}

.bttn_Criar {
    border: none;
    background-color: rgb(var(--brand-1));
    color: #FFFFFF;
    width: 90px;
    height: 24px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
}


/* Tabela E Main  */


.tabela {
    width: 100vw;
    
}

thead tr th {
    color: rgb(var(--grey-3))
    
}

td {
    padding: 0px;
    max-height: 26px;
    border-top: 2px solid rgb(var(--grey-4)) ;
}

.td_checkbox, .td_editar {
    height: 26px;
    display: flex;
    justify-content: space-around;

}

@media screen and (max-width: 900px){

    .descricao, .categoria, .td_categoria {
        display: none;
    }
}



.button_editar {
    border: none;
    font-size: 22px;
    font-weight: bold;
    background-color: #FFFFFF;
    margin-top: 2px;
}

.tarefa_completa {
    text-decoration: line-through;
}

@media screen and (min-width: 900px ) {

    /* img {
        width: 10px;
        height: 10px;
    } */

    .corpo_tabela {
        display: flex;
        justify-content: space-around;

    }

    .tabela {
        width: 83%;
        border: 1px solid rgb(var(--grey-3));
        align-self: center;
    }
    .div_tarefas{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 83%;
        height: 80px;
        padding: 1px;
        align-self: center;
        margin: auto;

    }

    .nav_Tarefas{
        display: flex;
        align-items: center;
        align-content: center;
        width: 83%;
        height: 100%;
        justify-content: space-around;
        margin: 0px;
    }

    .nav_Tarefas > h2 {
        margin-top: 30px;
        margin-bottom: -50px;
        margin-left: -92px;
    }

    .botoes_tarefas{
        display: flex;
        width: 400px;
        justify-content: space-around;
        align-self: flex-end;
        margin-bottom: 20px;
        gap: 20px;
        margin-right: -90px;
        padding-left: 100px;
    }

    .bttn_Todos, .bttn_Concluidos , .bttn_Criar{
        width: 90px; 
    }
}

.modal_page{
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   background-color: rgba(var(--grey-1), 0.7);
}

.remove{
    display: none;
}